<div class="header__wrap">
    <div class="header__top-wrap">
        <div class="header__top">
            <div class="header__top__logo">
                <a href="#">@@pastlogoname</a>
            </div>
            <div class="header__top__menu">            
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle">
                      <span></span>
                    </label>
                <nav>
                    <ul class="menu__box">
                        <li><a class="menu-item" href="#">@@pastfirst</a></li>
                        <li><a class="menu-item" href="#">@@pastsecond</a></li>
                        <li><a class="menu-item" href="#">@@pastthirst</a></li>
                        <li><a class="menu-item" href="#">@@pastfourth</a></li>
                        <li><a class="menu-item" href="#">@@pastfifth</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__top__items">
                <a href="@@pastelinktwitter" class="icon-twitter"></a>
                <a href="@@pastelinkfacebook" class="icon-facebook"></a>
                <a href="@@paselinkinstagram" class="icon-instagram"></a>
            </div>
        </div>
    </div>
</div>